/* restore status panel in Firefox 106 and above*/

.browserContainer, #main-window {  
	border-bottom: 20px solid var(--lwt-accent-color) !important;    
}


html[inFullscreen="true"] .browserContainer, #main-window {  
	border-bottom: inherit !important;    
}

#statuspanel {
	height: 20px !important;
	width: 100% !important;
	max-width: 100% !important;
	left: 0px !important;
	bottom: -20px !important;
	padding: 0px !important;
	transition-duration: 150ms !important;
	transition-delay: 50ms !important;
	border-top: 1px solid;
	border-image: linear-gradient(90deg, #6200a4 0%, #ff0039 50%, #ff9400 100%) 1 stretch;
	background-color: var(--lwt-accent-color) !important;
}

#statuspanel[hidden="true"]{
	position: absolute !important;
	display: block !important;
}

#statuspanel[inactive]{
	visibility: visible !important;
	opacity: 100 !important;
}

html[inFullscreen="true"] #statuspanel {
	bottom: 0px !important;
	width: calc(100vw - 16px) !important;
}

html[inFullscreen="true"] #statuspanel[type="defaultStatus"] {
	visibility: hidden !important;
	opacity: 0 !important;  
}

#statuspanel-label {
	top: 0px !important;
	margin-left: 0px !important;
	margin-top: 0px !important;
	border: none !important;
	padding-left: 5px !important;
	padding-top: 0px !important;
	background: transparent !important;
	transition-duration: 150ms !important;
	transition-delay: 50ms !important;
  color: var(--toolbar-color) !important;
}

#statuspanel[type="defaultStatus"] #statuspanel-label{
	visibility: hidden !important;
	opacity: 0 !important;  
}


/* U can ommit part below if won't change colors in some areas */
/* new, better tabs visibility and theming pinned tabs */
.tabbrowser-tab:not([selected]) .tab-background{
	background-color: rgba(128,128,128,.1) !important;
	border: 1px solid !important;
	border-color: rgba(128,128,128,.3) !important;
}

.tabbrowser-tab .tab-background{
	border: 1px solid !important;
	border-color: rgba(255, 255, 255, .4) !important;
}

.tabbrowser-tab:hover:not([selected]) .tab-background{
	background-color: rgba(255,255,255,.2) !important;
}

.tabbrowser-tab[pinned]:not([selected]) .tab-background{
	border: 1px solid !important;
	border-color: rgba(33,143,166,1) !important;
}

.tabbrowser-tab[pinned] .tab-background{
	border: 1px solid !important;
	border-color: rgba(255, 51, 95, .6) !important;
}

/* highlighting tabs with sound playing */
.tabbrowser-tab[soundplaying="true"]:not([selected]) .tab-background{
	border: 2px solid !important;
	border-color: rgba(255, 25, 95, .6) !important;
	background-color: rgba(255, 255, 10, .09) !important;
}



/* URL bar frame color changed to gradient */
#urlbar[focused="true"]:not([suppress-focus-border]) > #urlbar-background,
#searchbar:focus-within {
	outline-color: transparent !important;
	border: 1px solid transparent !important;
  border-image: linear-gradient(90deg, #6200a4 0%, #ff0039 50%, #ff9400 100%) 1 stretch !important;
/*	background:  linear-gradient(90deg, #6200a4 0%, #ff0039 50%, #ff9400 100%) border-box !important;
	mask: -moz-linear-gradient(white 0 0) padding-box !important;
	mask-composite: exclude !important;
	border-radius: 4px !important; */
}
